sudo: false
language: ruby
cache: bundler
bundler_args: --without development
rvm:
  - ruby-head
  - ruby
  - 2.2.0
  - 2.1.0
  - 2.0.0
  - 1.9.3
  - jruby-head
  - jruby
  - jruby-19mode
  - rbx-head
  - rbx-2
matrix:
  fast_finish: true
  allow_failures:
    - rvm: ruby-head
    - rvm: ruby
    - rvm: jruby-head
    - rvm: jruby
    - rvm: rbx-head
notifications:
  slack:
    on_success: change
    on_failure: change
    rooms:
      - secure: SVfWQUsuPNfFXU0gFl5OKDQU76Xw5FyZiGz3WzjNCLzLiUXvlu77b8v83ZATCBEgewhu/cXgy4BKTs2hmZ+R3jr/tEBR8wd9V+0cdffgN8L3Ald5MXtISofW5v33CXHYp5P9xIdvOJHVLl4ob01o53rfnfZF6Xi//2+VxR9lI9w=
      - secure: MqUkEiU0WjSMeyhTkicCbftSQW0dK1Bp8qkoSidWqgM5hGFUAMwjxLZT5Erpua1o5V5cpOfyOqNNcYfgxyOamPLpbnQkaCu7VEABbkuPhVTtM+yuN/odwhGFd/Ph47Z63xxyVLdI4QxVAg+1TzlMijxFC7HAQtyuKYwrPrOSgTI=
